.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../statics/assets/colaborator-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .row {
    align-items: center;
    justify-content: center;

    label {
      color: var(--white-100);
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 1.2rem;
    }
  }

  h1 {
    text-align: center;
    padding: 1rem 0;
    font-family: 'Roboto', sans-serif;
    color: var(--white-100);
    margin-bottom: 2rem;
  }

  .button-login {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
